<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.title }}</title>
<meta name="description" content="Жирный faq по маркообразным в 81 кузове" />
<meta content="article" property="og:type" />
<meta content="{{ site.url }}/FAQx81" property="og:url" />
<meta content="FAQ: gx81, jzx81, mx83, lx80, sx80, yx80" property="og:title" />
<meta content="{{ site.title }}" property="og:site_name" />
<meta content="Жирный faq по маркообразным в 81 кузове" property="og:description" />
<meta content="{{ "/assets/img/logo.png" | absolute_url }}" property="og:image" />
<link href="{{ "/assets/img/logo.png" | absolute_url }}" rel="image_src" />

<link rel="preconnect" href="https://mc.yandex.ru" crossorigin>

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/favicon/apple-touch-icon.png?v=" | append: site.github.build_revision | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon/favicon-32x32.png?v=" | append: site.github.build_revision | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon/favicon-16x16.png?v=" | append: site.github.build_revision | relative_url }}">
<link rel="manifest" href="{{ "/assets/img/favicon/site.webmanifest?v=" | append: site.github.build_revision | relative_url }}">
<link rel="mask-icon" href="{{ "/assets/img/favicon/safari-pinned-tab.svg?v=" | append: site.github.build_revision | relative_url }}" color="#7b7b7b">
<link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico?v=" | append: site.github.build_revision | relative_url }}">
<meta name="apple-mobile-web-app-title" content="faqx81">
<meta name="application-name" content="faqx81">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-config" content="{{ "/assets/img/favicon/browserconfig.xml?v=" | append: site.github.build_revision | relative_url }}">
<meta name="theme-color" content="#000000">

<style>
body {margin: 0;}
    .page-layout__sidebar a { color: #fff; text-decoration: none; }
    .page-layout { display: -webkit-flex; display: -ms-flexbox; display: -ms-flex; display: flex; -webkit-flex: 2; -moz-flex: 2; -ms-flex: 2; flex: 2 }
    .page-layout__sidebar { position: sticky; top: 0; left: 0; background-color: #303030; min-width: 300px; height: 100vh; padding: 25px 5px 30px 8px;
        display: -webkit-flex; display: -ms-flexbox; display: -ms-flex; display: flex; -webkit-flex: 0 0 230px; -moz-flex: 0 0 230px; -ms-flex: 0 0 230px; flex: 0 0 230px;
        overflow-y: scroll; -webkit-overflow-scrolling: touch; color: ##b5b1b1 !important }
    .page-layout__content { background: #fdfdfd }
    .page-layout__content-inner { padding: 50px 40px; max-width: 1000px }  
.mobile-hide { display: block}
.mobile-show { display: none }
@media screen and (max-width: 992px) {
    .page-layout,.page-layout__sidebar,.page-layout__content { display:block; flex: none; height: auto; overflow: initial; position: static }
    .mobile-btn { display: block }
    .page-layout__content-inner { padding: 30px 15px }
    .toc-menu ul ul { display: none }
    .mobile-hide { display: none }
    .mobile-show { display: block }
}
.toc-menu ul { list-style-type: none; margin: 0 0 30px; padding: 0 }
.toc-menu ul ul { display: none }
.toc-menu li {  display: block; padding: 0; margin: 0 }
.toc-menu a { display: block; color: inherit !important; padding: 9px 15px 10px; line-height: 1.43; text-decoration: none !important; cursor: pointer; font-size: 14px }
.toc-menu>ul>li>a,.toc-menu>ul>li:hover>a { font-weight: 600 }
.toc-menu li li a { padding: 5px 17px 6px 40px }
.toc-menu a:hover { background: rgba(0,0,0,0.1) 
</style>
<link rel="preload" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}" as="style" onload="this.rel='stylesheet'">
<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"></noscript>
<!--[if IE]>
    <link rel="stylesheet" href="{{ "/assets/css/ie.css?v=" | append: site.github.build_revision | relative_url }}">
<![endif]-->
<!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
