<div class="h1" style="font-size: 60px !important;">
    {{ site.title | default: site.github.repository_name }}
    <a href="{{ site.github.repository_url }}" style="display: inline;">
        {% if site.github.is_project_page %}
            <img src="https://help.github.com/assets/images/site/invertocat.png" width="24px" alt="" title="GitHub">
        {% endif %}
    </a>
</div>

<br><br>
<blockquote style="text-align: left;">
    Нашли ошибку или есть что добавить?<br>
    - пишите <a href="https://vk.com/wall-31295460_663924" target="_blank" class="link-underline">вконтакте</a>
    <br/>
    - или <a href="https://github.com/join?return_to=https%3A%2F%2Fgithub.com%2Fdaks01%2FFAQx81%2Fissues%2Fnew&source=login" class="link-underline">регайтесь</a> на гитхабе и создавайте <a href="https://github.com/daks01/FAQx81/issues/new" class="link-underline">issue</a>
    <br/>
    - ну и ставьте <a href="https://vk.com/wall-31295460_664013" target="_blank">любовь</a> – мне будет приятно 
</blockquote>
<br><br>
Скинуть автору <a href="https://money.alfabank.ru/p2p/web/transfer/dksenofontov4163">на кофе\пиво</a> (&#128179;)
<br><br>
<hr>
