<div class="h1" style="font-size: 60px !important;">
    {{ site.title | default: site.github.repository_name }}
    <a href="{{ site.github.repository_url }}" style="display: inline;">
        {% if site.github.is_project_page %}
            <img src="https://help.github.com/assets/images/site/invertocat.png" width="24px" alt="" title="GitHub">
        {% endif %}
    </a>
</div>
<p>
    <br>
    <a href="https://github.com/join?return_to=https%3A%2F%2Fgithub.com%2Fdaks01%2FFAQx81%2Fissues%2Fnew&source=login" style="display: inline;text-decoration: underline !important;font-size: 16px;padding: 0;">
        Регайтесь
    </a>
    на гитхабе <br>и вносите предложения по улучшению
    <br>

    <a href="https://github.com/daks01/FAQx81/issues/new" style="
        color: #6D6F7F;
        border-color: #6D6F7F;
        display: inline-block;
        margin: 6px 0;
        font-size: inherit;
        line-height: 1.42;
        padding: 0.7em 1.4em;
        font-weight: normal;
        border-width: 1px;
        border-style: solid;
        background: #0000;
        border-radius: 1.41em;
        cursor: pointer;
        user-select: none;
        vertical-align: bottom;
        outline: none;
        -webkit-tap-highlight-color: #0000;
    ">
        Написать
    </a>
</p>
<hr>
