* {
    margin: 0;
    padding: 0;
}

.selection() {
    background: #3072C4;
    color: #fff;
}

::selection {
    .selection
}

::-moz-selection {
    .selection
}

body {
    font: normal 14px Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    /*
    font: normal 15px 'Segoe UI', Arial, Helvetica, sans-serif;
    color: #333333;
    line-height: 22px;
    */
}

a {
    color: #043e86;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
}

.content {
    padding: 40px 20px 20px;
}

.sidebar {
    padding: 20px 20px 10px;
    background: #f4f4f4;
    box-shadow: inset -1px -1px 0 0 #f4f4f4, inset 1px 1px 0 0 #f4f4f4,
                -100px 0 0 0 #f4f4f4, 100px 0 0 0 #f4f4f4,
                -250px 0 0 0 #f4f4f4, 250px 0 0 0 #f4f4f4,
                -450px 0 0 0 #f4f4f4, 450px 0 0 #f4f4f4,
                -900px 0 0 0 #f4f4f4, 900px 0 0 0 #f4f4f4,
                -1800px 0 0 0 #f4f4f4, 1800px 0 0 0 #f4f4f4;
}

.edit-btn {
    position: absolute;
    right: 14px;
    top: 12px;
    color: #fff;
    z-index: 100;
    display: inline-block;
    padding: 5px;
    svg {
        filter: drop-shadow(0px 0px 1px #444444);
    }
    &:hover {
        svg {
            filter: drop-shadow(0px 0px 1px #000000);
        }
    }
}

@media screen and (min-width: $screen-sm) {
    .container {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        align-items: stretch;
    }
    
    .sidebar {
        display: -ms-flexbox;
        display: flex;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify;
    }
    .content {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-align-items: center;
        align-items: center;
        max-height: 2576px;
    }
}

@media screen and (min-width: $screen-md) {
    .content {
        max-height: 1575px;

        &_min {
            max-height: 1100px;
        }
    }
    .sidebar {
        flex-grow: 1;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        background: #f4f4f4;
    }
}

@media screen and (min-width: $screen-lg) {
    .content {
        align-items: flex-start;
        margin-right: 2.5%;
        margin-left: -10%;

        &_min {
            max-height: 1100px;
            margin: 0;
        }
    }
    .sidebar {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 9%;
        padding: 50px 3%;
        box-shadow: 0 500px 0 #f4f4f4,
                    0 1000px 0 #f4f4f4,
                    0 1500px 0 #f4f4f4;
    }
    .notification ~ .container .sidebar {
        padding-top: 80px;
    }
}
    
@media screen and (min-width: $screen-lg) and (min-height: 1200px) {
    .sidebar {
        position: fixed;
    }
}