--- 
---

@import "{{ site.theme }}";

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Segoe UI;
    font-weight: 400;
    src: local("Segoe UI"),local("SegoeUI");
    font-display: swap;
}
@font-face {
    font-family: Segoe UI;
    font-weight: 400;
    font-style: italic;
    src: local("Segoe UI Italic"),local("SegoeUI-Italic");
    font-display: swap;
}
@font-face {
    font-family: Segoe UI;
    font-weight: 600;
    src: local("Segoe UI Semibold"),local("SegoeUI-Semibold");
    font-display: swap;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.45em;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Segoe UI', 'Helvetica Neue', Roboto, Aria, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #222222;
    padding: 0; 
}

//typography
a {
    color: #0367e3;
    text-decoration: none;
}
a:hover,
a:active {
    text-decoration: underline;
    font-weight: inherit;
}
nav {
    width: 100%;
}
main {
    a:visited {
        color: #b900e5;
    }
    a[href^="#"]:before {
        content: '#';
        color: #797979;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    margin: 0 0 0.2em;
    font-weight: normal;
    line-height: 1.3;
}
h1 {
    margin-top: 1.5em;
    font-size: 28px;
}
h2 {
    margin-top: .8em;
    font-size: 20px;
}
p,
ul,
ol, {
    margin-bottom: .5em;
}
ul {
    padding-left: 1.2em;
}

//link-underline 
.link-underline {
    display: inline;
    text-decoration: underline !important;
    font-size: 16px;
    padding: 0;
    color: currentColor;
}

//page-layout 
.page-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.page-layout__sidebar {
    position: sticky;
    top:0;
    left: 0;
    background-color: #303030;
    min-width: 300px;
    height: 100vh;
    padding: 25px 5px 30px 8px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 0 0 230px;
    -moz-flex: 0 0 230px;
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    color: #b5b1b1 !important;
}
.page-layout__content {
    background: #fdfdfd;
}
.page-layout__content-inner {
    padding: 50px 40px;
    max-width: 1000px;
}

//mobile menu
.mobile-btn {
    position: sticky;
    z-index: 99;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 50px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.mobile-btn:before {
    content: none !important;
}
.mobile-btn_menu {
    display: none;
    float: right;
}
.mobile-btn:active,
.mobile-btn:hover, 
.mobile-btn:visited {
    color: #ffffff !important;
    text-decoration: none;
}

//mobile helpers
.mobile-hide {
    display: block;
}
.mobile-show {
    display: none;
}

@media screen and (max-width: $screen-md) {
    .page-layout,
    .page-layout__sidebar,
    .page-layout__content {
        display: block;
        flex: none;
        height: auto;
        overflow: initial;
        position: static;
    }
    .mobile-btn {
        display: block;
    }
    .page-layout__content-inner {
        padding: 30px 15px;
    }
    .toc-menu ul ul{
        display: none;
    }
    
    .mobile-hide {
        display: none;
    }
    .mobile-show {
        display: block;
    }
}


//nav
.toc-menu ul {
    list-style-type: none;
    margin: 0 0 30px;
    padding: 0;
}
.toc-menu ul ul{
    display: none;
}
.toc-menu li {
    display: block;
    padding: 0;
    margin: 0;
}
.toc-menu a {
    display: block;
    color: inherit !important;
    padding: 9px 15px 10px;
    line-height: 1.43;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 14px;
}
.toc-menu>ul>li>a,
.toc-menu>ul>li:hover>a {
    font-weight: 600;
}
.toc-menu li li a{
    padding: 5px 17px 6px 40px;
}
.toc-menu a:hover {
    background: rgba(0,0,0,.1);
}

//anchors
:target:before {
    content: "";
    display: block;
    height: 30px;
    margin: -30px 0 0;
}
h1:target,
h2:target {
    -webkit-animation: highlight .8s ease-out;
    animation: highlight .8s ease-out;
}
@-webkit-keyframes highlight {
    0% {
        color: #fdfdfd;
    }
    100% {
        color: #222222;
    }
}
@keyframes highlight {
    0% {
        color: #fdfdfd;
    }
    100% {
        color: #222222;
    }
}

//social-block
.social-block {
    margin-top: 40px;
    padding: 9px 15px 10px;
}
.social-block a {
    padding: 0;
    filter: grayscale(70%);
}
.social-block a:hover {
    filter: grayscale(0);
}

//heatmap
.heatmap__wrap {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.heatmap {
    position: relative;
    height: 100%;
}
