---
---

//@import "{{ site.theme }}";
@import "variables.less";
@import "page.less";
@import "notification.less";
@import "projects.less";
@import "services.less";

body {
    font-size: 16px;
    line-height: 1.5;
    color: #222222;
}
div.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 95%;
}
header {
    width: auto;
    float: none;
    position: static;
}
h1 {
    margin-top: 1.5em;
}
h2 {
    margin-top: .5em;
}
ul {
    padding-left: 1.2em;
    margin-bottom: 1em;
}

