--- 
---

@import "{{ site.theme }}";

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.45em;
}

body {
    font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #222222;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    padding: 0; 
}

//typography
a {
    color: #0367e3;
    text-decoration: none;
}
a:hover,
a:active {
    text-decoration: underline;
    font-weight: inherit;
}
main a:visited {
    color: #b900e5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    margin: 0 0 0.2em;
    font-weight: normal;
    line-height: 1.3;
}
h1 {
    margin-top: 1.5em;
    font-size: 28px;
}
h2 {
    margin-top: .8em;
    font-size: 20px;
}
p,
ul,
ol, {
    margin-bottom: .5em;
}
ul {
    padding-left: 1.2em;
}

//page-layout 
.page-layout {
    height: 100%;
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.page-layout__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    position: relative;
    z-index: 1;
    height: 100%;
}
.page-layout__sidebar {
    position: relative;
    background-color: #303030;
    min-width: 300px;
    height: 100%;
    padding: 25px 5px 30px 8px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 0 0 230px;
    -moz-flex: 0 0 230px;
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    color: #b5b1b1 !important;
}
.page-layout__content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1 1;
    -moz-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    background: #fdfdfd;
    height: 100%;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}
.page-layout__content-inner {
    padding: 50px 40px;
    max-width: 1000px;
}

//mobile menu
.mobile-menu-btn {
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 50px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.mobile-menu-btn:active,
.mobile-menu-btn:hover {
    color: #ffffff !important;
    text-decoration: none;
}

@media screen and (max-width: $screen-md) {
    .page-layout,
    .page-layout__row,
    .page-layout__sidebar,
    .page-layout__content {
        display: block;
        flex: none;
        height: auto;
        overflow: initial;
    }
    .mobile-menu-btn {
        display: block;
    }
    .page-layout__content-inner {
        padding: 30px 15px;
    }
    .toc-menu ul ul{
        display: none;
    }
    
    .mobile-hide {
        display: none;
    }
    .mobile-show {
        display: block;
    }
}

//mobile helpers
.mobile-hide {
    display: block;
}
.mobile-show {
    display: none;
}

//nav
.toc-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.toc-menu ul ul{
    display: none;
}
.toc-menu li {
    display: block;
    padding: 0;
    margin: 0;
}
.toc-menu a {
    display: block;
    color: inherit !important;
    padding: 9px 15px 10px;
    line-height: 1.43;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 14px;
}
.toc-menu>ul>li>a,
.toc-menu>ul>li:hover>a {
    font-weight: 600;
}
.toc-menu li li a{
    padding: 5px 17px 6px 40px;
}
.toc-menu a:hover {
    background: rgba(0,0,0,.1);
}

//anchors
:target:before {
    content: "";
    display: block;
    height: 30px;
    margin: -30px 0 0;
}
h1:target,
h2:target {
    -webkit-animation: highlight .8s ease-out;
    animation: highlight .8s ease-out;
}
@-webkit-keyframes highlight {
    0% {
        background-color: rgb(71, 71, 71);
    }
    100% {
        background-color: none;
    }
}
@keyframes highlight {
    0% {
        background-color: rgb(71, 71, 71);
    }
    100% {
        background-color: none;
    }
}

//social-block
.social-block {
    margin-top: 40px;
    padding: 9px 15px 10px;
}
.social-block a {
    padding: 0;
    filter: grayscale(100%);
}
.social-block a:hover {
    filter: grayscale(70%);
}
