<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    {% include head.html %}
</head>
<body>
    <div class="page-layout">
        <div class="page-layout__row">
            <aside class="page-layout__sidebar" id="menu">
                <nav>
                    <div class="mobile-show" style="text-align: center;">
                        {% include pagetitle.html %}
                    </div>
                    <div class="toc-menu">
                        {% include toc.html html=content %}
                        <br><br>
                        <span style="display: inline-block;">
                            <a href="#" data-show-heatmap style="color: currentColor;">Показать карту кликов (beta)</a>
                        </span>
                    </div>
                    <div class="social-block">
                        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                        <script src="//yastatic.net/share2/share.js"></script>
                        <div class="ya-share2" data-services="vkontakte,facebook,twitter,viber,whatsapp,telegram" data-counter=""></div>
                    </div>
                </nav>
            </aside>
            <main class="page-layout__content">
                <div class="page-layout__content-inner">
                    <div style="position: relative;">
                        <div class="heatmap__wrap">
                            <div class="heatmap" data-heatmap></div>
                        </div>
                        <div class="mobile-hide">
                            {% include pagetitle.html %}
                        </div>
                        {{ content }}
                        <a href="#menu" class="mobile-btn mobile-btn_menu">&#9776;</a>
                    </div>
                </div>
            </main>
        </div>
    </div>
    {% include scripts.html %}
</body>
</html>